.color1 {color: #205796;}
.color2 {color: #2980c2;}
.color3 {color: #74b9d6;}
.color4 {color: #c5e8e8;}
.color5 {color: #f3f3f3;}
*{
    font-family: 'Roboto', sans-serif;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% del viewport height */
    margin: 0;
    background-color: #f3f3f3;
}

.main-content {
    flex: 1; /* Ocupa todo el espacio disponible */
}


/* BOTONES */
.btn-primary{

    background-color: #2980c2;
}
.btn-primary :hover{
    background-color: #205796;
}

.btn-outline-success{
    border-color: #2980c2;
    color: #2980c2;
}
button .btn-outline-success :hover{
    background-color: #2980c2!important;
    color: #f3f3f3;
}

/*TABLAS]*/

table{
    background-color: #c5e8e8;
}



footer, header, nav {
    flex-shrink: 0; /* No se encogerá */
    background-color: #2980c2;
    color: #f3f3f3;
}

a{
    text-decoration: none;
    color: #f3f3f3;
}

/* ESTILOS DE LA VALORACION */

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion{
    /*direction: ltr;*/
    direction: rtl; /*right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}