<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>

<head th:replace="../layout/head :: head"></head>
<body>
<div class="main-content">

    <header th:replace="../layout/header :: header"></header>

    <div th:replace="../layout/msg_error_exito :: mensajeFragment(${exito}, ${error})"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Formulario de Consulta</h3>
            </div>

            <div class="container">
                <div class="col">
                    <div class="row">
                        <p>Paciente: <span th:text="${paciente.apellido} + ', ' + ${paciente.nombre}"></span></p>
                        <p>DNI: <span th:text="${paciente.dni}"></span></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/registrarPaciente}" method="post">

                    <input hidden th:value="${turno.id}" name="idTurno">
                    <div class="form-group">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="motivo" name="motivo" placeholder="motivo"
                                   th:value="${motivo}">
                            <label for="motivo">Motivo de consulta</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="antecedentes" name="antecedentes"
                                   placeholder="antecedentes"
                                   th:value="${antecedentes}">
                            <label for="antecedentes">Antecedentes</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="diagnostico" name="diagnostico"
                                   placeholder="diagnostico" th:value="${diagnostico}">
                            <label for="diagnostico">Diagnostico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="indicaciones" name="indicaciones"
                                      placeholder="indicaciones" th:value="${indicaciones}"></textarea>
                            <label for="indicaciones">Indicaciones</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="observaciones" name="observaciones"
                                      placeholder="observaciones" th:value="${observaciones}"></textarea>
                            <label for="observaciones">Observaciones</label>
                        </div>

                    </div>

                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a class="btn btn-secondary" th:href="@{/profesional/listarCitas}">Volver</a>
                </form>
            </div>
        </div>
    </div>

</div>
<footer th:replace="../layout/footer :: footer"></footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>