<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en"
>
<head th:replace="../layout/head :: head"></head>

<body>
<div class="main-content">
    <header th:replace="../layout/header :: header"></header>
    <div th:replace="../layout/msg_error_exito :: mensajeFragment(${exito}, ${error})"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Solicitud de cita</h3>
                    </div>
                    <div class="card-body">
                        <p>Profesional: <span
                                th:text="${turno.profesional.apellido} + ', '+ ${turno.profesional.nombre}"></span></p>
                        <p>Especialidad: <span th:text="${turno.profesional.especialidad}"></span></p>
                        <p>Fecha: <span th:text="${turno.fecha}"></span></p>
                        <p>Hora: <span th:text="${turno.hora}"></span></p>
                        <p>Valor de la consulta: <span th:text="'$ ' + ${turno.profesional.precioConsulta}"></span></p>
                        <div>
                            <form th:action="@{/turno/confirmarTurno/__${id}__}" method="post">
                                <label>
                                    <input hidden th:value="${session.usuariosession.id}" name="idPaciente">
                                </label>
                                <label>
                                    <input hidden th:value="${turno.id}" name="idTurno">
                                </label>
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </form>
                            <a class="btn btn-secondary" th:href="@{/turno/verTurnos}">Volver</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<footer th:replace="../layout/footer :: footer"></footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
